<form [formGroup]="filterControls" novalidate>
  <fieldset *ngFor="let filter of filters" [ngSwitch]="filter.type">
    <div class="filter-control">
      <strong>{{ filter.title }}</strong>
      <div *ngSwitchCase="'radio'">
        <label *ngFor="let option of filter.options; let i = index;">
          <input type="radio" [formControl]="filterControls.get(filter.name)" [value]="option[filter.value]">
          {{ option[filter.label] }}
        </label>
      </div>
      <div *ngSwitchCase="'select'">
        <select multiple [formControl]="filterControls.get(filter.name)">
          <option *ngFor="let option of filter.options; let i = index;" [value]="option[filter.value]">
            {{ option[filter.label] }}
          </option>
        </select>
      </div>
    </div>
  </fieldset>
</form>