<md-whiteframe
  class="md-whiteframe-16dp map-controls"
  layout="column"
  layout-align="center center"
  layout-fill>
  <div layout="row">

    <md-input-container flex>
      <label>Location</label>
      <md-select ng-model="$ctrl.location" md-on-open="$ctrl.loadLocations()" ng-change="$ctrl.updateLocation()" ng-model-options="{trackBy: '$value._id'}">
        <md-option ng-repeat="location in ::$ctrl.locations" ng-value="::location" ng-disabled="$ctrl.location === location">
          {{ ::location.label}}
        </md-option>
      </md-select>
    </md-input-container>

    <md-input-container flex>
      <label>Feature category</label>
      <md-select ng-model="$ctrl.category" md-on-open="$ctrl.loadCategories()" ng-change="$ctrl.updateCategory()" ng-model-options="{trackBy: '$value._id'}" ng-disabled="!$ctrl.location" multiple>
        <md-option ng-repeat="category in $ctrl.categories" ng-value="::category" ng-disabled="$ctrl.category === category">
          {{ ::category.name }}
        </md-option>
      </md-select>
    </md-input-container>

    <md-input-container flex>
      <label>Feature collection</label>
      <md-select ng-model="$ctrl.collection" md-on-open="$ctrl.loadCollections()" ng-change="$ctrl.updateCollection()" ng-model-options="{trackBy: '$value._id'}" ng-disabled="!$ctrl.category" multiple>
        <md-optgroup ng-repeat="group in $ctrl.category" label="{{ ::group.name }}">
	        <md-option ng-repeat="collection in $ctrl.collections | filter: { category: group._id }" ng-value="::collection" ng-disabled="$ctrl.collection === collection">
	          {{ ::collection.name }}
	        </md-option>
        </md-optgroup>
      </md-select>
    </md-input-container>

  </div>
  <div layout="row">

    <md-button class="md-primary" ng-click="$ctrl.showAll()">
    	Show all
      <md-tooltip md-direction="bottom">
        Turn on visibility for all available map features
      </md-tooltip>
    </md-button>
    
  </div>
</md-whiteframe>