<div class="map-controls-handle" layout="row" ng-mouseenter="$ctrl.mapControlsOpen = true" ng-mouseleave="$ctrl.mapControlsOpen = false" ng-class="{ 'map-controls-open': $ctrl.mapControlsOpen }">
	<md-button>
	  <svg style="width:32px;height:32px" viewBox="0 0 24 24">
	    <path fill="#FFFFFF" d="M3,2H21V2H21V4H20.92L15,9.92V22.91L9,16.91V9.91L3.09,4H3V2M11,16.08L13,18.08V9H13.09L18.09,4H5.92L10.92,9H11V16.08Z" />
		</svg>
	</md-button>

	<md-sidenav
	    class="md-sidenav-right map-controls-sidenav"
	    md-component-id="uoit-campus-map:right"
	    md-disable-backdrop
	    md-whiteframe="4"
	    md-is-locked-open="$ctrl.mapControlsOpen" 
	    md-is-open="$ctrl.mapControlsOpen"
	    layout="column">
	  <md-toolbar class="md-primary" layout>
	    <div class="md-toolbar-tools">
		  	<h1>Map filtering</h1>
	  	</div>
	  </md-toolbar>

	  <md-content
		  flex="grow"
		  layout="column">
			<filter-builder ng-model="$ctrl.filter" layout="column" layout-padding flex="grow">
			  <md-input-container>
			    <label>Location</label>
			    <md-select ng-model="$ctrl.location" md-on-open="$ctrl.loadLocations()" filter-input name="location" ng-change="$ctrl.updateLocation()">
			      <md-option ng-repeat="location in ::$ctrl.locations" ng-value="::location._id" ng-disabled="$ctrl.location === location">
			        {{ ::location.label}}
			      </md-option>
			    </md-select>
			  </md-input-container>

			  <md-input-container>
			    <label>Feature category</label>
			    <md-select ng-model="$ctrl.category" md-on-open="$ctrl.loadCategories()" ng-disabled="!$ctrl.location" multiple filter-input name="category" ng-change="$ctrl.updateCategory()">
			      <md-option ng-repeat="category in $ctrl.categories" ng-value="::category._id" ng-disabled="$ctrl.category === category">
			        {{ ::category.name }}
			      </md-option>
			    </md-select>
			  </md-input-container>
				<div>
			    <md-chips>
			      <md-chip ng-repeat="category in $ctrl.getItemsInListByProp($ctrl.category, $ctrl.categories, '_id') track by $index">
			      	{{ category.name }}
						  <button class="md-chip-remove" ng-click="$ctrl.removeItemFromList(category._id, $ctrl.category)">&times;</button>
			      </md-chip>
					</md-chips>
				</div>

<!-- 		<md-chips ng-model="$ctrl.category">
      <md-autocomplete
          md-search-text="ctrl.searchText"
          md-items="category in $ctrl.loadCategories()"
          md-min-length="0"
          md-item-text="item.name"
          placeholder="Choose a category">
      </md-autocomplete>
      <md-chip-template>
        <span>
          <strong>{{$chip.name}}</strong>
          <em>({{$chip._id}})</em>
        </span>
      </md-chip-template>
    </md-chips> -->

			  <md-input-container>
			    <label>Feature collection</label>
			    <md-select ng-model="$ctrl.collection" md-on-open="$ctrl.loadCollections()" ng-disabled="!$ctrl.category" multiple filter-input name="group" ng-change="$ctrl.updateCollection()">
			      <md-optgroup ng-repeat="group in $ctrl.getItemsInListByProp($ctrl.category, $ctrl.categories, '_id')" label="{{ ::group.name }}">
			        <md-option ng-repeat="collection in $ctrl.collections | filter: { category: group._id }" ng-value="::collection._id" ng-disabled="$ctrl.collection === collection">
			          {{ ::collection.name }}
			        </md-option>
			      </md-optgroup>
			    </md-select>
			  </md-input-container>
			</filter-builder>
	<!--   <div layout="column">

	    <md-button class="md-primary" ng-click="$ctrl.showAll()">
	    	Show all
	      <md-tooltip md-direction="bottom">
	        Turn on visibility for all available map features
	      </md-tooltip>
	    </md-button>
			<small><pre>{{ $ctrl.filter | json }}</pre></small>
	  </div> -->
	  </md-content>
	</md-sidenav>
</div>