<div class="map-controls-handle" layout="row" ng-class="{ 'map-controls-open': $ctrl.mapControlsOpen }">
	<md-button ng-click="$ctrl.mapControlsOpen = !$ctrl.mapControlsOpen">
	  <svg style="width:32px;height:32px" viewBox="0 0 24 24">
	    <path fill="#FFFFFF" d="M20,10V14H11L14.5,17.5L12.08,19.92L4.16,12L12.08,4.08L14.5,6.5L11,10H20Z" />
		</svg>
	</md-button>

	<md-sidenav
	    class="md-sidenav-right map-controls-sidenav"
	    md-component-id="uoit-campus-map:right"
	    md-disable-backdrop
	    md-whiteframe="4"
	    md-is-locked-open="$ctrl.mapControlsOpen" 
	    md-is-open="$ctrl.mapControlsOpen"
	    layout="column">
	  <md-toolbar class="md-primary" layout>
	    <div class="md-toolbar-tools">
		  	<h1>Map filtering</h1>
	  	</div>
	  </md-toolbar>

	  <md-content
		  flex="grow"
		  layout="column">
		  <filter-builder ng-model="$ctrl.filter" ng-change="$ctrl.loadFeatures($ctrl.filter)" layout="column" layout-padding flex="grow">
			  <md-input-container>
			    <label>Location</label>
			    <md-select ng-model="$ctrl.location" filter-input name="location">
			      <md-option ng-repeat="location in ::$ctrl.locations" ng-value="::location._id" ng-disabled="$ctrl.location === location">
			        {{ ::location.label}}
			      </md-option>
			    </md-select>
			  </md-input-container>

			  <md-input-container>
			    <label>Feature category</label>
			    <md-select ng-model="$ctrl.category" ng-disabled="!$ctrl.location.length" multiple filter-input name="properties.category">
			      <md-option ng-repeat="category in $ctrl.categories" ng-value="::category._id" ng-disabled="$ctrl.category === category">
			        {{ ::category.name }}
			      </md-option>
			    </md-select>
			  </md-input-container>
			  <div layout-padding>
	        <md-checkbox aria-label="Select All"
						ng-checked="$ctrl.isChecked('category', 'categories')"
						md-indeterminate="$ctrl.isIndeterminate('category', 'categories')"
						ng-click="$ctrl.toggleAll('category', 'categories')">
						Select all categories
	        </md-checkbox>
        </div>

			  <md-input-container>
			    <label>Feature collection</label>
			    <md-select ng-model="$ctrl.collection" ng-disabled="!$ctrl.category.length" multiple filter-input="filters.collection" name="group">
			      <md-optgroup ng-repeat="group in $ctrl.categories | filterFrom: $ctrl.category : '_id'" label="{{ ::group.name }}">
			        <md-option ng-repeat="collection in $ctrl.collections | filter: { category: group._id, location: $ctrl.location }" ng-value="::collection._id" ng-disabled="$ctrl.collection === collection">
			          {{ ::collection.name }}
			        </md-option>
			      </md-optgroup>
			    </md-select>
			  </md-input-container>
			  <div layout-padding>
	        <md-checkbox aria-label="Select All"
						ng-checked="$ctrl.isChecked('collection', 'collections')"
						md-indeterminate="$ctrl.isIndeterminate('collection', 'collections')"
						ng-click="$ctrl.toggleAll('collection', 'collections')">
						Select all collections
	        </md-checkbox>
        </div>
			</filter-builder>
			<pre>{{ $ctrl.filter | json }}</pre>
	  </md-content>
	</md-sidenav>
</div>